<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="cat-vue基础组件库">
    <meta name="description" content="cat-vue基础组件库">
    <title>cat-vue</title>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/cat-vue-main.js"></script>
    <link rel="stylesheet" href="./static/guide/css/cat-vue-page-main.css" />
</head>
<script src="./static/guide/js/cat-vue-basecomponent-left-nav.js"></script>
<style>
    a {
        color:#000000;
        text-decoration:none;
    }
</style>

</head>

<body style="overflow: hidden;">

    <div id="app">
        <div class="cat-vue-header" id="cat-vue-header">
            <div style="width: 80%;margin: auto; border-bottom: 1px solid #eee;z-index:2;background-color: #fff;">
                <div class="logo"><a href="./index.html">CAT-VUE</a></div>
                <cat-vue-ul :option="navLists" v-model="navValue" :ulclass="ulClass">
                </cat-vue-ul>
            </div>
        </div>
        <div class="cat-vue-body" id="cat-vue-basecomponent-body">
            <div id="cat-vue-basecomponent-left-nav">
                <cat-vue-ul :option="navLists" v-model="navValue">
                </cat-vue-ul>
            </div>
            <div class="cat-vue-basecomponent-body">
                <iframe :src="ifameSrc" id="frame"></iframe>
            </div>
        </div>
    </div>
</body>

</html>