<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cat-vue-switch</title>
    <script src="./static/js/vue.js"></script>
    <script src="./static/js/cat-vue-switch.js"></script>
    <link rel="stylesheet" href="./static/css/cat-vue-switch.css" />

    <link rel="stylesheet" href="./static/guide/css/cat-vue-page-main.css"/>

    <script src="./static/js/cat-vue-table.js"></script>
    <link rel="stylesheet" href="./static/css/cat-vue-table.css" />
    <style>
        h2 {
            border-top: 3px solid #3d7e9a;
            padding-top: 16px;
        }
    </style>
</head>

<body>
    <h1>cat-vue-switch</h1>
    <h2>开关实例：</h2>
    <div id="app">
        <cat-vue-switch  name="catSwitch" v-model="value"></cat-vue-switch>
        <div>value:{{value}}</div>
    </div>


    <script>
        let vue = new Vue({
            el: "#app",
            data: {
                value: false
            }
        })
    </script>

    <h2>代码示例：</h2>
    <pre style="padding: 8px;color: #1386e8;margin:8px 0px;border: 1px solid #ccc;">
<code style="font-size: 16px;font-weight: 500;font-family: initial;">
&lt;cat-vue-switch  name="catSwitch" v-model="value" disabled>&lt;/cat-vue-switch>
let vue = new Vue({
    el: "#app",
    data: {
        value: false
    }
})
</code>
</pre>



    <h2>参数说明：</h2>

    <div id="shuoming">
        <cat-vue-table :header="header" :data="data" :tableclass="tableclass"></cat-vue-table>
    </div>


    <style>
        .new-table {
            border: none;
            border-collapse: collapse;
            font-size: 16px;
            font-weight: 100;
            font-family: cursive;
        }

        .new-td,
        .new-th {
            border-bottom: 1px solid #02f156 !important;
            padding: 12px 8px;
        }
    </style>


    <script>

        new Vue({
            el: "#shuoming",
            data: {
                header: [{ key: "variable", name: "参数名" }, { key: "desc", name: "<div style=\"width:240px;\">说明</div>" }, { key: "other", name: "备注" }],
                data: [
                    {
                        variable: "disabled",
                        desc: `
                        是否禁用switch
                    `,
                        other: ""
                    }, {
                        variable: "name",
                        desc: `
                        form表单中需要的name，不提供则随机给出一个。
                `,
                        other: ""
                    }, {
                        variable: "switchclass",
                        desc: `
                         对象。通过该值可以修改标签渲染样式<br/>
                         该对象可以有以下属性（属性名后面的是默认值）：<br/>
                         switch: "cat-vue-switch"<br/>
                         标签的层次结构：<br/>
                           &lt;input/><br/>
                `,
                        other: ""
                    }, 
                    {
                        variable: "v-model=?",
                        desc: `
                        父组件获取swicth选择值的变量，必须定义。可以用来给swicth进行初始化。最后siwtch返回的是选中true或者不选中false
                `,
                        other: ""
                    }

                ],
                tableclass: {
                    table: "new-table",
                    tr: "new-tr",
                    td: "new-td",
                    th: "new-th"
                }
            },
            mounted: function () {
                document.querySelector("#shuoming").querySelector("thead").querySelectorAll("th")[0].width = 120;
                document.querySelector("#shuoming").querySelector("thead").querySelectorAll("th")[1].width = 500;

            }
        })

    </script>


    <footer style="height: 300px;">

    </footer>

</body>

</html>